<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{homeRoute ? site.siteDescription : metadata.seoDescription}}" />

    <!--Site icon-->
    {{#if site.siteIcon}}
    <link rel="icon" href="/content/uploads{{site.siteIcon}}" />
    {{/if}}

    <!--Title-->
    <title>{{homeRoute ? "Home" : metadata.title}} | {{ site.siteTitle }}</title>

    <!--Stylesheets-->
    <link rel="stylesheet" href="/content/themes/editorial/assets/css/bundle.min.css" />
    {{#if contentRoute}}
    <link rel="stylesheet" href="/content/themes/editorial/assets/vendors/a11y-dark.min.css" />
    {{/if}}
</head>
