<nav
    class="{{pagination.urls ? `pagination` : `post-navigation`}}"
    aria-label="{{pagination.urls ? `Posts Pagination` : `Post Navigation`}}"
>
    {{#if pagination.nextPage}}
    <!-- Older Posts (only if there's a next page) -->
    <a href="{{pagination.urls.next}}" class="prev-page" aria-label="Older Posts">Older Posts</a>
    {{/if}}

    <!-- Dynamic Markup Separator -->

    {{#if pagination.prevPage}}
    <!-- Newer Posts (only if there's a previous page) -->
    <a href="{{pagination.urls.prev}}" class="next-page" aria-label="Newer Posts">Newer Posts</a>
    {{/if}}

    <!-- Dynamic Markup Separator -->

    {{#if prevPost}}
    <!-- Previous Post Link (only if there's a previous post) -->
    <a href="/post/{{prevPost.slug}}" class="prev-post" rel="prev" aria-label="Go to the previous post">
        Previous: {{prevPost.title}}
    </a>
    {{/if}}

    <!--Dynamic Markup Separator-->

    {{#if nextPost}}
    <!-- Next Post Link (only if there's a next post) -->
    <a href="/post/{{nextPost.slug}}" class="prev-post" rel="prev" aria-label="Go to the next post">
        Next: {{nextPost.title}}
    </a>
    {{/if}}
</nav>
